<h3>New Board</h3>

<form class="new-board group hidden">

  <label for="board_title">Title:</label>
  <input type="text"
         name="board[title]"
         id="board_title"
         value="<%= board.escape("title")%>">

  <input type="submit" value="Make Board!">

</form>
