<h1>All the boards</h1>
<ul>
  <% boards.each(function (board) { %>
    <li class="board" data-id="<%= board.id %>">
      <%= board.escape("title") %>
    </li>
  <% }); %>
</ul>

<a href="#/boards/new">Make a new Board</a>
