/* Overall Styles */

main {
  padding: 20px;
  font-family: sans-serif;
}

.group::after {
  content: "";
  clear: both;
  display: block;
}

li {
  list-style: none;
}

dl {
  list-style: none;
}

form {
  width:178px;
  padding: 10px;
  margin: auto;
}

form input {
  width: 150px;
  margin: 12px auto;
  padding: 8px;
}

form textarea {
  width: 150px;
  margin: 12px auto;
  padding: 8px;
}

.hidden {
  display: none;
}

/* Boards Index */

h1.board-list-header {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

ul.board-list {
  display block;
}

li.board {
  list-style: none;
  background: lightblue;
  height: 300px;
  width: 200px;
  float: left;
  margin: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

li.make-board {
  list-style: none;
  background: lightgrey;
  height: 300px;
  width: 200px;
  float: left;
  margin: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}


/* Styles for Board Show Views */

section.list-section {
  background: lightblue;
}

li.list-container {
  list-style: none;
  background: lightgrey;
  width: 240px;
  float: left;
  margin: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

section.list-form {
  list-style: none;
  background: white;
  width: 240px;
  float: left;
  margin: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

ul.list {
  margin: auto;
  padding: 10px;
  width: 220px;
}

ul.list li {
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  display block;
}

button.add-card {
  padding: 5px;
  margin: 10px;
}

button.delete-card {
  padding: 5px;
  margin: 10px;
}

/* New Card Styles */

form.new-card {
  width: 180px;
}

form.new-card input {
  width: 160px;
}

form.new-card textarea {
  width: 160px;
}
