<h3>New List</h3>

<form class="new-list">

  <label for="list_title">Title:</label>
  <input type="text"
         name="list[title]"
         id="list_title"
         value="<%= list.escape("title")%>">

  <input type="submit" value="Create List!">

</form>
