<section>
  <h2><%= list.escape("title") %></h2>

  <ul class="list group">
  </ul>

  <button class="add-card">Add Card!</button>
  <button class="delete-list" data-id="<%= list.id %>">Delete List!</button>
</section>
