<section class="list-container group">
  <h2><%= list.escape("title") %></h2>

  <dl class="list">
  </dl>

  <button class="add-card">Add Card!</button>
  <button class="delete-list" data-id="<%= list.id %>">Delete List!</button>
</section>
